{% load static %}
<footer class="page-footer font-small unique-color-dark bg-dark navbar-dark" dir="rtl">

    <div style="background-color: #6351ce;">
        <div class="container">

            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center"  style="margin: 0px auto;">

                <!-- Grid column -->
                <div class="align-items-center" style="margin: 0px auto;display: flex">
                    <div class="col-md-10 col-lg-9 text-center text-md-left mb-4 mb-md-0">
                        <h6 class="mb-0">ما را در شبکه های اجتماعی دنبال کنید.</h6>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-7 text-center text-md-right">
                        <img style="width: 35px; height: 35px" src="{% static 'img/logo/instagram.png' %}" alt="logo fdrestion">
                        <img style="width: 35px; height: 35px" src="{% static 'img/logo/telegram.png' %}" alt="logo fdrestion">
                        <img style="width: 30px; height: 30px" src="{% static 'img/logo/bale.png' %}" alt="logo fdrestion">
                    </div>
                </div>

                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
    </div>

    <!-- Footer Links -->
    <div class="container  text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3 text-right">

            <div class="col-md-4 col-lg-5 col-xl-4 mx-auto mb-5">

                <!-- Content -->
                <img alt="logo" src="{% static 'img/logo/mafirilogo.png' %}" style="height: 200px;width: 350px">

            </div>

            <!-- Grid column -->
            <div class="col-md-4 col-lg-5 text-light col-xl-4 mx-auto mb-5">

                <!-- Content -->
                <br>
                <br>
                <h6 class="font-weight-bold">فدراسیون اتوموبیلرانی و موتورسواری قزوین</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 300px;">
                <p>هیئت اتوموبیل رانی و موتور سوار قزوین زیر نظر فدراسیون بین المللی اتمومبیل رانی ایران</p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 text-light col-lg-4 col-xl-3 mx-auto mb-4">
                <br>
                <br>
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">لینک های مرتبط</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!">فدراسیون جهانی اتوموبیل رانی</a>
                </p>
                <p>
                    <a href="#!">فدراسیون جهانی موتورسواری</a>
                </p>
                <p>
                    <a href="#!">وزارت ورزش و جوانان</a>
                </p>
                <p>
                    <a href="#!">کمیته ملی المپیک</a>
                </p>

            </div>

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© کپی رایت :
        <a href="https://mdbootstrap.com/education/bootstrap/">mahdi ezpour</a>
    </div>
    <!-- Copyright -->

</footer>
