{% load static %}
    <div class="list-group list-cust">
            <a href="#" class="list-group-item active">
              اطلاعیه
            </a>
            <div class="text-right overflow-hidden">
              <a href="#" class="list-group-item text-primary">لغو مسابقات جاری</a>
              <a href="#" class="list-group-item">زلزله در تبریز</a>
              <a href="#" class="list-group-item">آلودگی هوا مسابقات را تعطیل کرد</a>
              <a href="#" class="list-group-item">نمونه</a>

            </div>
        <hr>
        <div>
            <img src="{% static 'img/work.jpg' %}" alt="work" style="width: 300px">
        </div>
    </div>
