{% extends "Layouts/Normal/base.html" %}
{% load static %}

{% block content %}
<div class="d-flex" style="direction:RTL; text-align: right;margin-top: 30px">
            <div class="col-sm-12"  id="new">
                <div class="container">
                    <span class="list-group-item " style="margin-bottom: 15px"><h4><b>فدراسیون اتوموبیل رانی و موتور سواری قزوین</b></h4>
                    <h6><b>هیئت اتوموبیل رانی و موتور سواری استان قزونی در تاریخ 1379 شکل گرفت و ساختمان اصلی آن در میدان ... واقع است.</b></h6>
                    </span>

                    <div class="card-deck">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3">
                                        <img class="card-img-top" src="{% static 'img/user.png' %}" alt="Card image cap5">
                                    </div>
                                    <div class="col-md-9">
                                        <h5 class="card-title">مهدی عزپور</h5>
                                        <p class="card-text">سمت : رئیس هیئت</p>
                                        <p class="card-text">تاریخ شروع به خدمت : 1398/7/21</p>
                                        <p class="card-text">ایمیل : ezpour.me@gmail.com</p>
                                        <p class="card-text">شماره تماس : 09107604663</p>                                    </div>
                                </div>
                                </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3">
                                        <img class="card-img-top" src="{% static 'img/user.png' %}" alt="Card image cap5">
                                    </div>
                                    <div class="col-md-9">
                                        <h5 class="card-title">محمد حسین حاج کاظم نیلی</h5>
                                        <p class="card-text">سمت : رئیس هیئت</p>
                                        <p class="card-text">تاریخ شروع به خدمت : 1398/7/21</p>
                                        <p class="card-text">ایمیل : ezpour.me@gmail.com</p>
                                        <p class="card-text">شماره تماس : 09107604663</p>                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="card-deck">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3">
                                        <img class="card-img-top" src="{% static 'img/user.png' %}" alt="Card image cap5">
                                    </div>
                                    <div class="col-md-9">
                                        <h5 class="card-title">محمد امین جمالی</h5>
                                        <p class="card-text">سمت : رئیس هیئت</p>
                                        <p class="card-text">تاریخ شروع به خدمت : 1398/7/21</p>
                                        <p class="card-text">ایمیل : ezpour.me@gmail.com</p>
                                        <p class="card-text">شماره تماس : 09107604663</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3">
                                        <img class="card-img-top" src="{% static 'img/user.png' %}" alt="Card image cap5">
                                    </div>
                                    <div class="col-md-9">
                                        <h5 class="card-title">علی اکبر فاظلی</h5>
                                        <p class="card-text">سمت : رئیس هیئت</p>
                                        <p class="card-text">تاریخ شروع به خدمت : 1398/7/21</p>
                                        <p class="card-text">ایمیل : ezpour.me@gmail.com</p>
                                        <p class="card-text">شماره تماس : 09107604663</p>                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                </div>
            </div>

        </div>
{% endblock %}